* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {
   
    color: #0d0d0e;
    font-family: Helvetica, Arial, sans-serif;
  }
  /* HEADER STYLES START */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #5dda9c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #3f3e3e;
    text-decoration: none;
}


/* HEADER STYLES END */

/* HERO STYLES START */
.hero {
    height: 250px;
    width: 100%;
    background-image: url("../image/gmz1.jpg");
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
}
.hero h2 {
    color: #121213;
    border: none;
    font-size: 50px;
    float: right;
   
   

}
/* HERO STYLES END */



.intro {
    background: #948e8e;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 10px;
}
   

.intro h2 {
    font-size: 100px;
text-align: right;
    border-right: 5px solid;
    color:#211a83;
    padding: 10px 20px;
    width: 30%;
    display: inline-block;

}
.intro p {
    display: flex;
    flex-direction: row;
    width: 70%;
    padding: 10px 0 0 30px;
    font-size: 25px;

}
    

 


/* works section style starts */ 

.work {
    height: 900px;
    background: #39a6b2;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px 0 10px 0;

}


.work h2 {
    font-size: 100px;
    width: 30%;
    text-align: right;
    border-right: 5px solid;
    color:#211a83;
    padding: 0 20px;
    display: inline-block;
    margin-bottom: 10px;

}
.work img {
    height: 400px;
    width: 900px;
    

  
}



/* Contact-me section style starts */ 


.contact-me {
    background: #2a607c;
    height: 250px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
   
    
}
.contact-me h2 {
    font-size: 100px;
    width: 28%;
    text-align: right;
    border-right: 5px solid;
    color:#211a83;
    padding: 0 20px;
    display: inline-block;
}

.content {
    font-size: 25px;
    text-decoration: underline;
    color: #0d0d0e;
}