* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {
   background-color: #d8d6d6;
    color: #0d0d0e;
    font-family: Helvetica, Arial, sans-serif;
  }
  /* HEADER STYLES START */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #883c3c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #f3eded;
    text-decoration: none;
}


/* HEADER STYLES END */

/* HERO STYLES START */
.hero {
    height: 250px;
    width: 100%;
    background-image: url("../image/gmz1.jpg");
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
}
.hero h2 {
    color: #121213;
    border: none;
    font-size: 50px;
    float: right;
    padding: 175px 150px 0  0;


}
/* HERO STYLES END */

/* ABOUT ME STYLES START */

.intro {
   
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 10px;
    justify-content: center;
    
}
   

.intro h2 {
    font-size: 100px;
    text-align: right;
    border-right: 5px solid;
    color: #0d0d0e;
    padding: 50px 20px 20px 20px;
    width: 30%;
    display: inline-block;

}
.intro p {
    display: flex;
    flex-direction: row;
    width: 70%;
    padding: 50px 0 0 50px;
    font-size: 25px;

}
    

/* works section style starts */ 

.work {
    height: 900px;

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    justify-content: center;

}


.work h2 {
    font-size: 100px;
    width: 26%;
    text-align: right;
    border-right: 5px solid;
    color:#0d0d0e;
    padding: 50px 20px 20px 20px;
    display: inline-block;
    margin-bottom: 10px;
 

}
image {
    height: 400px;
    width: 1000px;
    
}
.image img {
    height: 400px;
    width: 1000px;
    padding: 50px 0 0 50px;
    

}

.text h3, .text p {
font-size: 50px;
position: relative;
left: 50px;
bottom: 220px;
color: #ffffff;

}

.small {
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
   justify-content: space-between;
}
.small img {
    height: 250px;
    width: 500px;
   position: relative;
   padding-left: 25px ;
   padding-bottom: 50px;
   margin-left: 50px;
   align-items: center;
   to
    
}

.textt h3, .textt p {
font-size: 25px;
position: absolute;
left: px;
bottom: px;
color: #0e0303;
}

    

/* Contact-me section style starts */ 
.contact-me {
    
    height: 250px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
   
    
}
.contact-me h2 {
    font-size: 100px;
    width: 28%;
    text-align: right;
    border-right: 5px solid;
    color:#0a0a0a;
    padding: 0 20px;
    display: inline-block;
}

.content {
    font-size: 25px;
    text-decoration: underline;
    color: #f7f7f8;
    
}