* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {
   background-color: #d8d6d6;
    color: #0d0d0e;
    font-family: Helvetica, Arial, sans-serif;
  }
  /* HEADER STYLES START */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #883c3c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    
    margin-left: 25px;
}

a {
    color: #f3eded;
    text-decoration: none;
}

header nav ul li a:hover {
    background: #978140;
    
    border-radius: 40px;
    text-shadow: none;
  }


/* HEADER STYLES END */

/* HERO STYLES START */
.hero {
    height: 250px;
    width: 100%;
    background-image: url("../image/gmz1.jpg");
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
}
.hero img {
    height: 250px;
    width: 250px;
    Float: right;
    margin-right: 20px;
}
.hero h2 {
    color: #121213;
    border: none;
    font-size: 50px;
    float: right;
    padding-top: 175px;
    padding-right: 50px;


}
/* HERO STYLES END */

/* ABOUT ME STYLES START */

.intro {
    height: 350px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    
    
    
}
   

.intro h2 {
    font-size: 100px;
    text-align: right;
    border-right: 5px solid;
    color: #0d0d0e;
    padding-right: 30px;
    width: 30%;
    display: inline-block;

}
.intro p {
    display: flex;
    flex-direction: row;
    width: 70%;
    padding: 30px 0 0 50px;
    font-size: 25px;

}
    

/* works section style starts */ 

.work {
    height: 1000px;
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
}

.work h2 {
    font-size: 100px;
    height: 1000px;
    width: 30%;
    text-align: right;
    padding-right: 30px;
    border-right: 5px solid;
    color:#0d0d0e;

}

.aaa {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
}

.i img {
    height: 400px;
    width: 950px;
    margin-top: 20px;
    margin-left: 50px;
    border: 5px solid rgb(55, 163, 154);
    box-shadow:  0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-wrap: wrap;
    
}

.t img {
    height: 200px;
    width: 448px;
    margin-top: 20px;
  margin-left: 50px;
    border: 5px solid rgb(55, 163, 154);
    box-shadow:  0 0 10px rgba(0, 0, 0, 0.5);

  


/* Contact-me section style starts */ 

.contact-me {
    width: 100%;
    height: 250px;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
 
   
    
}
.contact-me h2 {
    font-size: 100px;
    text-align: right;
    border-right: 5px solid;
    color: #0d0d0e;
    padding-right: 30px;
    width: 30%;
  
}

.content, .content a {
    width: 2 70%;
    font-size: 25px;
    text-decoration: underline;
    color: #0d0d0e;
    padding-left: 30px;
}